<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условия</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <!-- 2 урок 1 часть Условия -->

    <div id="app">
        <!-- Директива v-if - Условная отрисовка  -->
        <!-- Директива v-else - Условная отрисовка если не сработал v-if -->
        <h1>{{ title }}</h1>
        <button @click="view = !view">
            <span v-if="view">Показать</span>
            <span v-else>Спрятать</span>
        </button>
        <p v-if="!view">Вы смотрите на скрытый текст</p>

        <!-- Директива v-else-if - Условная отрисовка если не сработал v-if -->
        <div>
            <input type="text" v-model="input">

            <div v-if="input.length != 0 && !isNaN(input)">
                <p v-if="+input < 7">Вы еще ходите в дет сад</p>
                <p v-else-if="+input > 6 && +input < 19">Вы уже в школе</p>
                <p v-else-if="+input > 17 && +input < 60">В универе или работаете</p>
                <p v-else>На пенсии</p>
            </div>
            <p v-else-if="isNaN(input)">Ошибка ввода данных</p>
            <p v-else>Введите данные</p>
        </div>
    </div>
    <script>
        const app = {
            data() {
                return {
                    title: 'Условия',
                    view: true,
                    input: ''
                }
            },
        }
        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>