<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Циклы</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <!-- 2 урок 2 часть Циклы -->

    <div id="app">
        <!-- Директива v-for - используется для отрисовки списков элемента на основе массива данных  -->
        <h1>{{ title }}</h1>
        <form action="" @submit.prevent="addNewText">
            <input type="text" placeholder="текст" v-model="newText">
            <button>Добавить</button>
            <p>new text: {{newText}}</p>
        </form>
        <ul>
            <li v-for="(item, index) in list" :key="index">
                <div>{{item.name}}</div>
                <div>ID: {{item.id}}</div>
                <div>ARRAY ID: {{index}}</div>
                <button @click="delText(item)">X</button>
            </li>
        </ul>
    </div>
    <script>
        let id = 0;
        const app = {
            data() {
                return {
                    title: 'Циклы',
                    list: [
                        { id: id++, name: 'Zafar' },
                        { id: id++, name: 'Alex' },
                        { id: id++, name: 'Sardor' },
                    ],
                    newText: '',
                }
            },
            methods: {
                addNewText() {
                    this.list.push({ id: id++, name: this.newText })
                    this.newText = ''
                },
                delText(obj) {
                    // this.list.forEach((item, key)=>{
                    //   if(obj.id == item.id){
                    //     this.list.splice(key, 1)
                    //   }
                    // })
                    this.list = this.list.filter((item) => item !== obj)
                }
            },
        }
        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>